MYAPP_UPLOAD_STORE_FILE=.signing/myfitness-release.jks
MYAPP_UPLOAD_KEY_ALIAS=myfitness_release
MYAPP_UPLOAD_STORE_PASSWORD=replace_with_store_password
MYAPP_UPLOAD_KEY_PASSWORD=replace_with_key_password
